<%= stylesheet_link_tag "top_index", :media => "all" %>
<div class="top-image">
    <image src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/121126702_114778220391832_920836641859140234_o.jpg?_nc_cat=102&_nc_sid=8024bb&_nc_ohc=A0f5Li-jOiEAX91nSW8&_nc_ht=scontent-nrt1-1.xx&oh=c5952cf5699c01bb122ef2f4ed83b8c0&oe=5FA489E0">
</div>
<div class="about-bookers">
    <div class="bookers">
        <h1>Bookersとは？</h1>
        <h3>Bookersは、大学生同士が気軽に教科書を売買できるように作られたwebサービスです。欲しい教科書を安く手に入れる・使わなくなった教科書を売ることができます。</h3>
    </div>
    <div class="bookers2">
        <h1>Bookersの使い方</h1>
    </div>
    <div class="images">
        <div class="bookers-image">
            <img src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/p960x960/120975845_116761400193514_4640644850774792355_o.jpg?_nc_cat=100&_nc_sid=8024bb&_nc_ohc=sEZnLr--Em8AX-wrj_C&_nc_ht=scontent-nrt1-1.xx&tp=6&oh=266c501f429edeba04b4d51e1d3eba21&oe=5FA8C0AB">
            <h3>欲しい教科書を探します。</h3>
        </div>
        <div class="bookers-image">
            <img src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/120955240_116744983528489_7266426459963141577_o.jpg?_nc_cat=108&_nc_sid=8024bb&_nc_ohc=TGt0bsublyAAX-1nQ-T&_nc_ht=scontent-nrt1-1.xx&oh=9ed9d7dbb6c3914669eaeef709d68f75&oe=5FA82198">
            <h3>出品している人とDMでやり取りします。</h3>
        </div>
        <div class="bookers-image">
            <img src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/121093921_116744986861822_1238795130049465091_o.jpg?_nc_cat=106&_nc_sid=8024bb&_nc_ohc=pK0R1G-oDcEAX-xoE9l&_nc_ht=scontent-nrt1-1.xx&oh=6dd131f4d6eb5731a5b0330f696356df&oe=5FA8908D">
            <h3>実際に会って教科書の受け渡しをします。</h3>
        </div>
    </div>
</div>
<div class="regist">
<a href="/users/sign_up" class="btn-flat-simple">
<i class="fa fa-caret-right"></i><h2>Bookersを始める</h2>
</a>
</div>
