<%= stylesheet_link_tag "top_index", :media => "all" %>

<div class="top-image">
    <image src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/121126702_114778220391832_920836641859140234_o.jpg?_nc_cat=102&ccb=2&_nc_sid=730e14&_nc_ohc=tpt7m6k0VyAAX_dbUJT&_nc_ht=scontent-nrt1-1.xx&oh=49682f9b72710cb0e589e51bdce673df&oe=5FCC16E0">
</div>
<div class="about-bookers">
    <div class="bookers">
        <h1>Bookersとは？</h1>
        <h3>Bookersは、大学生同士が気軽に教科書を売買できるように作られたwebサービスです。欲しい教科書を安く手に入れる・使わなくなった教科書を売ることができます。</h3>
    </div>
    <div class="bookers2">
        <h1>Bookersの使い方</h1>
    </div>
    <div class="images">
        <div class="bookers-image">
            <img src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/121106341_116744980195156_7902600904254448780_o.jpg?_nc_cat=105&ccb=2&_nc_sid=730e14&_nc_ohc=vTcRRxz3sLsAX8TRLqq&_nc_ht=scontent-nrt1-1.xx&oh=4fb16c71890a4b34062264d27dd32bfb&oe=5FCF0032">
            <h3>欲しい教科書を探します。</h3>
        </div>
        <div class="bookers-image">
            <img src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/120955240_116744983528489_7266426459963141577_o.jpg?_nc_cat=108&ccb=2&_nc_sid=730e14&_nc_ohc=KYetBDhOf2wAX8jWtn2&_nc_ht=scontent-nrt1-1.xx&oh=65c59cfa0f37c0bf192703503d0a0619&oe=5FCBBA18">
            <h3>出品している人とDMでやり取りします。</h3>
        </div>
        <div class="bookers-image">
            <img src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/121093921_116744986861822_1238795130049465091_o.jpg?_nc_cat=106&ccb=2&_nc_sid=730e14&_nc_ohc=64GzV7MeyVsAX-KeErN&_nc_ht=scontent-nrt1-1.xx&oh=5b26411e96a49cc06ce878e3a2dd09fa&oe=5FCC290D">
            <h3>実際に会って教科書の受け渡しをします。</h3>
        </div>
    </div>
</div>
<div class="regist">
<a href="/users/sign_up" class="btn-flat-simple">
<i class="fa fa-caret-right"></i><h2>Bookersを始める</h2>
</a>
</div>
