h1 {
    text-align: center;
}
.sell-container {
    margin: 50px auto;
    width: 50%;
    border: solid rgb(222, 230, 238);
    border-radius: 10px;
    text-align: center;
    background-color: rgb(222, 230, 238);
    padding-top: 10px;
}
input[type="text"] {
    width: 95%;
    height: 40px;
    margin: 0%;
}
input[type="number"] {
    width: 95%;
    height: 40px;
    margin: 0%;
}
input[type="file"] {
    width: 95%;
    height: 40px;
    margin: 0%;
}
input[type="submit"] {
    width: 200px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

