.event-image {
    width: 100%;
    height: 80px;
}
.container {
    width: 80%;
    margin: 50px auto;
    padding-top:10px;
    border-radius: 10px;
    background-color: rgb(222, 230, 238);
    text-align: center;
}
.books-container { 
    display: flex;
    justify-content: center;
    padding: 0% 2% 2%;
    flex-wrap: wrap;
}
.book {
    margin: 1%;
    width: 150px;
    border: 2px solid rgb(222, 230, 238);
}
.book:hover {
    border: 2px solid white;
    transition-duration: 0.3s;
  }
.book-photo {
    height: 180px;
    position: relative;
    overflow: hidden;
    background-color: rgb(236, 229, 229);
}
.book-photo img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transition-duration: 0.3s;
}
.book:hover img{
    opacity: 0.6;
    transition-duration: 0.3s;
  }
.book-photo p {
    position: absolute;
    bottom: 10%;
    left: 0;
    padding-right: 3%;
    color: white;
    background-color: black;
    opacity: 0.8;
    border-radius: 5px;
}
.book-info {
    width: 150px;
    height: 40px;
    font-size: 80%;
    color: black;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.chat {
    margin: 50px auto;
    width: 50%;
    border: solid rgb(222, 230, 238);
    border-radius: 10px;
    text-align: center;
    background-color: rgb(222, 230, 238);
    padding-top: 10px;
}
.indexTag {
    text-align: center;
    display: flex;
}
.indexTag input[type="text"] {
    width: 50%;
    height: 30px;
    margin-left: 20%; 
}
.indexTag button[type="submit"] {
    width: 10%;
    margin:0 20% 0 0;
}
.chatBox {
    color: black;
    position: relative;
    display: flex;
}
.chatBoxImage {
    margin: 2% 10% 2% 5%;  
    background-color: rgb(236, 229, 229);
    border: 1px solid white;
}
.chatBoxImage image {
    width: 100%;
}
.chatBoxContent {
    margin: 2% 5% 2% 10%; 
}
.chatBox:hover {
    background-color: rgb(197, 221, 230);
    transition-duration: 0.3s;
}