.info {
    justify-content: center;
    position: relative;
    width: 80%;
    margin: 50px auto;
    padding: 10px;
    background-color: rgb(222, 230, 238);
    border-radius: 10px;
}
.title {
    width:70%;
    margin:0 15% 5%;
}
.center {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}
.left {
    width: 300px;
    position: relative;
    margin: 0;
    background-color: rgb(236, 229, 229);
}
.left image {
    width:100%; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.right {
    width: 300px;
    margin: 0;
}
.right table {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    border-collapse: collapse;
    background-color: white;
}
td {
    border: 1px solid black;
    padding: 0em 0.5em;
}
.bottom {
    text-align: center;
    width: 80%;
    margin: 10px auto;
    background-color: rgb(222, 230, 238);
    border-radius: 10px;
    padding: 10px;
}
.my-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}
.mine img {
    width: 100%;
} 
.book-show {
    flex-wrap: wrap;
    border-collapse: collapse;
    background-color: rgb(197, 221, 230);
    width: 100%;
}
.button {
    text-align: center;
}
.mine {
    flex-direction: row;
    margin: 3%;
    width: 25%;
    background-color: rgb(222, 230, 238);
    border-radius: 10px;
}
.chats {
    width: 80%;
    margin: 10px auto;
    padding-top: 10px;
    background-color: rgb(222, 230, 238);
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}
.chat-box {
    display: flex;
    padding: 5px;
}
.chat-hukidashi {
    text-align: left;
}
input[type="text"] {
    width: 80%;
    height: 40px;
}
.posts {
    justify-content: center;
    margin-top: 10px;
}
.comment-wrapper {
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(222, 230, 238);
    border-radius: 10px;
}
input[type="submit"] {
    width: 200px;
    font-size: 20px;
    margin-top: 20px;
}
.button i {
    background-color: white;
    color: green;
    border: 1px solid black;
    padding: 8px;
    border-radius: 3px;
    margin: 1px;
}
.button i:hover {
    background-color: green;
    color: white;
    transition-duration: 0.3s;
}
.editDeleteButton {
    position: absolute;
    top: 3%;
    right: 3%;
    display: flex;
}
.userEditButton {
    position: absolute;
    top: 3%;
    right: 3%;
}